<!-- this tag using data stored in the component                            -->
<!-- {{}} referred to as mustache notation                                  -->
<!-- containst the name of a property/variable in the component             -->
<!-- This is called one-way-binding                                         -->
<!-- data from component can be used int html template                      -->
<!-- one-way-binding data flows from component to template                  -->
<!-- data for a component is in the .ts file for that component 'pageTitle' -->
<!-- in this case the app.component.ts file                                 -->
<h2 id="pageHeading">{{pageTitle}}</h2>
<!-- "sample-form" is not standard HTML, but is an angular component        -->
<sample-form></sample-form>